@using Oem.Data.Table.BaseInfo

@{
    ViewBag.Title = "产品管理";
    List<ProductRepo> list= ViewBag.List as List<ProductRepo>;
}

<style>
    .del-alarming {
        position: fixed;
        left: 40%;
        top:30%;
        width:300px;
        height: 180px;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 3px;
    }
    .del-alarming i {
        position: absolute;
        top:4px;
        right: 4px;
        cursor: pointer;
    }
    .del-alarming h3 {
        padding: 15px;
        width: 270px;
        height: 30px;
        line-height: 30px;
    }
    .del-alarming p {
        margin: 40px 0 40px 80px;
        font-size: 14px;
    }
    #add-btn-boxs {
        margin-left: 100px;
    }
</style>

<!-- 内容版块 begin {-->
<div class="container">
    <!--列表内容 {-->
    <div class="section">
        <div class="section-box1">
            <div class="normal-search">
                <form class="form-group">
                    <input type="text" class="form-control" placeholder="请输入查询条件" />
                    <button type="submit" class="search-submit" title="点击搜索">搜索</button>
                </form>
                <!--<button type="button" class="drop-button close">高级筛选条件<em class="btn-iconDrop2"></em></button>
                默认为收起来，点击展开，close样式改为open，同时显示高级筛选条件栏 -->
            </div>
        </div>

        <div class="section-content4">
            <div class="ListBar clearfix">
                <label class="textL">全选</label>
                <button type="button" class="btn-default icon-button" onclick="window.location.href = '/baseinfo/ProductInfoAdd'">
                    <em class="btn-iconAdd"></em>新增
                </button>
                <button type="button" class="btn-default icon-button delInfor"><em class="btn-iconDel"></em>删除</button>

                <!--不可用按钮增加 btn-disable 样式 -->
            </div>
            <!-- 列表 { -->
            <div class="ListDateTable">

                <!-- 列表无数据时显示内容 {-->
                <div class="ListDateNoResult" style="display: none;">无数据</div>
                <!--} 列表无数据时显示内容 -->

                <table border="0" cellpadding="0" cellspacing="0">
                    <!-- 数据列表{-->
                    <tbody><tr>
                        <th class="blankbox" id="Selall"><span class="checkboxStyle"></span></th>
                        <th>系列</th>
                        <th>款式号</th>
                        <th>品名</th>
                        <th>颜色</th>
                        <th>备注</th>
                    </tr>
                    @if (list != null && list.Count > 0)
                    {
                        foreach (var item in list)
                        {
                            <tr class="ListDate"><!-- 说明： 每页数据10条-->
                                <td class="blankbox"><span class="checkboxStyle context" text="@item.Id"></span></td>
                                <td>@item.SerialNumber</td>
                                <td>@item.StyleNumber</td>
                                <td>@item.BrandName</td>
                                <td>@item.Color</td>
                                <td>@item.Remark</td>
                            </tr>
                        }
                    }
                    <!--}数据列表 -->
                    </tbody>
                </table>
            </div>
            <!--} 列表 -->

            <!-- 页码 {-->
            <div class="section-page">
                <a href="#" class="page-previous page-disabled">上一页</a>
                <!-- 不可用的样式代码如下：<a href="#" class="page-previous page-disabled">上一页</a> -->
                <span class="page-line"></span>
                <a href="#" class="page-num current">1</a>
                <a href="#" class="page-num">2</a><!-- 当前页样式 增加 current 样式名 -->
                <a href="#" class="page-num">3</a>
                <a href="#" class="page-num">4</a>
                <span class="page-num-more">...</span>
                <a href="#" class="page-num">10</a>
                <span class="page-line"></span>
                <a href="#" class="page-next">下一页</a>
                <!-- 不可用的样式代码如下：<a href="#" class="page-next page-disabled">下一页</a> -->

            </div>
            <!--} 页码 -->

        </div>
    </div>
    <!--} 列表内容 -->
</div>
<!--} 内容版块 end -->
<!--删除信息时页面弹出的警告框-->
<div class="del-alarming" style="display:none;">
    <i><img src="/images/icon_delete_1.png" /></i>
    <h3>操作提示</h3>
    <p>确定要删除这条信息吗？</p>
    <div class="btn-box" id="add-btn-boxs">
        <button type="button" class="btn-default btn-cancel del-alarm">取消</button>
        <button type="button" class="btn-default btn-sure" id = "product_delete">确定</button>
    </div>
</div>

<script>
    /*点击删除按钮，删除警示框出现*/
    $(".delInfor").click(function() {
        var checkVal = getCheckBoxIds();
        if (checkVal.count == 0) {
            alert("请至少选择一项");
            return;
        }
        $(".del-alarming").show();
    });
    /*点击X和取消，删除警告弹框消失*/
    $(".del-alarming>i").click(function() {
        $(this).parent().hide();
    });
    $(".del-alarm").click(function() {
        $(".del-alarming").hide();
    });
    /*确认删除*/
    $("#product_delete").click(function() {
        var data = {
            ids: getCheckBoxIds()
        }
        var ajax = {
            url: "/baseinfo/DeleteProductInfo",
            data: data,
            type: 'Post',
            success: function () {
                alert('删除成功');
                window.location.href = '/baseinfo/productinfolist';
            },
            error: function () {
                alert('删除失败,请查看网络状态');
                return;
            }
        }
        $.ajax(ajax);
    });
    //获取选中记录
    function getCheckBoxIds(){
        var checkVal = [];
        $(".checkboxChecked.context").each(function() {
            var temp = $(this).attr("text");
            checkVal.push(temp);
        });
        return checkVal;
    }
    /*点击全选，点击全不选*/
    $("#Selall>span").click(function() {
        if ($(this).hasClass("checkboxChecked")) {
            $(this).removeClass("checkboxChecked");
            $(".checkboxStyle").removeClass("checkboxChecked");
        } else {
            $(".checkboxStyle").addClass("checkboxChecked");
        }
    });
    /*点击复选框的动画效果*/
    $(".blankbox>span").not("#Selall>span").click(function() {
        if ($(this).hasClass("checkboxChecked")) {
            $(this).removeClass("checkboxChecked");
        } else{
            $(this).addClass("checkboxChecked");
        }
    });
    /*表头上的tab切换*/
    $(".chart-tab>a").click(function() {
        $(this).addClass("current").siblings().removeClass("current");

    });
    /*页码切换*/
    $(".section-page>a").click(function() {
        $(this).addClass("current").siblings().removeClass("current");

    });
</script>
