<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title ng-bind="($state.current.title||dynamicTitle||$state.current.name)"></title>
    @if (Oem.Common.Util.ConfigHelper.GetConfigString("Dev") == "true")
    {
        @Html.RenderCss("/Content/css/layout.css")
        @Html.RenderCss("/Content/css/style.css")
        @Html.RenderCss("/Content/css/statistics.css")
    }
    else
    {
        @Html.RenderCss("/Content/css/gint.css")
    }

    @if (Oem.Common.Util.ConfigHelper.GetConfigString("Dev") == "true")
    {
        @Html.RenderCss("/Scripts/app/libs/ngDialog/css/ngDialog.css")
        @Html.RenderCss("/Scripts/app/libs/fullcalendar/fullcalendar.css")
        @Html.RenderCss("/Scripts/app/libs/fullcalendar/lib/cupertino/jquery-ui.min.css")
        @Html.RenderCss("/Scripts/app/libs/cropper/dist/cropper.css")
        @Html.RenderCss("/Content/css/dialog-theme-custom.css")
    }
    else
    {
        @Html.RenderCss("/Content/css/deps.css")
        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?259be06731626d7ddee4de80a292e1e8";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    }
</head>
<body ng-cloak ng-controller="BaseAppController" class="body-template">
    <div class="body-layout">
        <!--导航栏-->
        <gint-nav></gint-nav>
        <div class="container">
            <div ui-view>
            </div>
        </div>
    </div>
    @Html.RenderRequireScript("/Scripts/app/libs/requirejs/require.js", "/Scripts/app/main")
</body>
</html>