@using Oem.Data.Table.Repertory

@{
    ViewBag.Title = "采购入库";
    List<WarehouseOprationRepo> list= ViewBag.List as List<WarehouseOprationRepo>;
}

<!--列表内容 {-->
<div class="section">
    <div class="section-box1">
        <div class="normal-search">
            <form class="form-group">
                <input type="text" class="form-control" placeholder="请输入查询条件" />
                <button type="submit" class="search-submit" title="点击搜索">搜索</button>
            </form>

        </div>
    </div>

    <div class="section-content4">

        <div class="section-box3-head clearfix">
            <div class="chart-tab fl">
                <a href="#" class="chart-tab-item current">全部</a><!-- current 为选中状态-->
                <a href="#" class="chart-tab-item">采购皮</a>
                <a href="#" class="chart-tab-item">采购衬里</a>
                <a href="#" class="chart-tab-item">采购辅料</a>
            </div>
        </div>

        <div class="ListBar clearfix">
            <button type="button" class="btn-default icon-button" onclick="window.location.href = '/repertory/importrepertoryleatheradd'">
                <em class="btn-iconAdd"></em>采购皮入库
            </button>
            <button type="button" class="btn-default icon-button" onclick="window.location.href = '/repertory/importrepertorychenliadd'">
                <em class="btn-iconAdd"></em>采购衬里入库
            </button>
            <button type="button" class="btn-default icon-button" onclick="window.location.href = '/repertory/importrepertoryfuliaoadd'">
                <em class="btn-iconAdd"></em>采购辅料入库
            </button>
        </div>
        
        <div class="ListDateTable">

            <!-- 列表无数据时显示内容 {-->
            <div class="ListDateNoResult" style="display: none;">无数据</div>
            <!--} 列表无数据时显示内容 -->
            <div class="copyScroll" style="-ms-overflow-x: auto;">

                <table border="0" cellpadding="0" cellspacing="0">
                    <!-- 数据列表{-->
                    <tbody><tr>
                    <th>操作时间</th>
                    <th>操作编号</th>
                    <th>辅助编号</th>
                    <th>仓库Id</th>
                    <th>总数</th>
                    @if (list != null && list.Count > 0)
                    {
                        foreach (var item in list)
                        {
                            <tr class="ListDate" onclick="window.location.href = '/repertory/exportrepertorylistdetail'"
                            ><!-- 说明： 每页数据10条-->
                                <td>@item.OperattionTime</td>
                                <td>@item.OperationNumber</td>
                                <td>@item.AuxiliaryNumber</td>
                                <td>@item.WarehouseId</td>
                                <td>@item.TotalAmount</td>
                            </tr>
                        }
                    }
                    <!--}数据列表 -->
                    </tbody>
                </table>
            </div>
        </div>
        <!--} 列表 -->
        <!-- 页码 {-->
        <div class="section-page">
            <a href="#" class="page-previous page-disabled">上一页</a>
            <!-- 不可用的样式代码如下：<a href="#" class="page-previous page-disabled">上一页</a> -->
            <span class="page-line"></span>
            <a href="#" class="page-num current">1</a>
            <a href="#" class="page-num">2</a><!-- 当前页样式 增加 current 样式名 -->
            <a href="#" class="page-num">3</a>
            <a href="#" class="page-num">4</a>
            <span class="page-num-more">...</span>
            <a href="#" class="page-num">10</a>
            <span class="page-line"></span>
            <a href="#" class="page-next">下一页</a>
            <!-- 不可用的样式代码如下：<a href="#" class="page-next page-disabled">下一页</a> -->

        </div>
        <!--} 页码 -->

    </div>
</div>
<!--} 列表内容 -->

<script>
    /*表头上的tab切换*/
    $(".chart-tab>a").click(function() {
        $(this).addClass("current").siblings().removeClass("current");

    });
    /*页码切换*/
    $(".section-page>a").click(function() {
        $(this).addClass("current").siblings().removeClass("current");

    });
</script>